.navbar{
    width: 100vw;
    height: 50px;
    background-color: #ECECEC;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbar-button {
    width: 150px;
    height: 40px;
    background-color: #6358DC;
    border-radius: 6px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-button:hover {
    background-color: #6358dcb6;
    cursor: pointer;  
}